# Lab | Data Structuring and Combining Data

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd

In [2]:
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv" 
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

In [3]:
import dataframe_cleaning_function_library
file1 = dataframe_cleaning_function_library.column_cleaner_pipeline()
file2 = dataframe_cleaning_function_library.column_cleaner_pipeline()
file3 = dataframe_cleaning_function_library.column_cleaner_pipeline()

Please enter the csv url: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

KeyboardInterrupt:

In [6]:
display(file1.head())
display(file2.head())
display(file3.head())

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47,16061,88,0,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11,79487,114,0,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02,54230,112,0,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30,71210,214,1,1027.200000,Personal Auto,Luxury
4,WH52799,Arizona,F,College,380812.21,94903,94,0,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75,63513,70,0,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91,58161,68,0,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41,83640,70,0,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38,0,96,0,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39,0,111,0,700.349052,Personal Auto,SUV

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [7]:
display(file1.tail())
display(file2.tail())
display(file3.tail())

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
991,HV85198,Arizona,M,Master,847141.75,63513,70,0,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91,58161,68,0,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41,83640,70,0,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38,0,96,0,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39,0,111,0,700.349052,Personal Auto,SUV

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [15]:
# Column order differs between files.
display(file1.columns == file2.columns)
display(file1.columns == file3.columns)
display(file2.columns == file3.columns)

# Checking compatibility after renaming
print("Checking if file1 column names are all in file2 column names")
display(file1.columns.isin(file2.columns))
print("Checking if file1 column names are all in file3 column names")
display(file1.columns.isin(file3.columns))

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False])

array([ True,  True, False,  True, False,  True,  True,  True,  True,
       False, False])

array([ True,  True, False,  True, False,  True,  True,  True, False,
       False,  True])

Checking if file1 column names are all in file2 column names

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

Checking if file1 column names are all in file3 column names

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [13]:
display(file1.info())
display(file2.info())
display(file3.info())

"""
file1: 
- income has to be an int
- monthly premium auto has to be an int
"""
file1['income'] = file1['income'].astype(int)
file1['monthly_premium_auto'] = file1['monthly_premium_auto'].astype(int)

<class 'pandas.core.frame.DataFrame'>
Index: 1068 entries, 1 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1068 non-null   object
 1   state                      1068 non-null   object
 2   gender                     1068 non-null   object
 3   education                  1068 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1068 non-null   int64
 6   monthly_premium_auto       1068 non-null   int64
 7   number_of_open_complaints  1068 non-null   int64
 8   policy_type                1068 non-null   object
 9   vehicle_class              1068 non-null   object
 10  total_claim_amount         1068 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 100.1+ KB

None

<class 'pandas.core.frame.DataFrame'>
Index: 992 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   992 non-null    object
 1   state                      992 non-null    object
 2   gender                     992 non-null    object
 3   education                  992 non-null    object
 4   customer_lifetime_value    992 non-null    float64
 5   income                     992 non-null    int64
 6   monthly_premium_auto       992 non-null    int64
 7   number_of_open_complaints  992 non-null    int64
 8   total_claim_amount         992 non-null    float64
 9   policy_type                992 non-null    object
 10  vehicle_class              992 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 93.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
Index: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   7070 non-null   object
 1   state                      7070 non-null   object
 2   customer_lifetime_value    7070 non-null   float64
 3   education                  7070 non-null   object
 4   gender                     7070 non-null   object
 5   income                     7070 non-null   int64
 6   monthly_premium_auto       7070 non-null   int64
 7   number_of_open_complaints  7070 non-null   int64
 8   policy_type                7070 non-null   object
 9   total_claim_amount         7070 non-null   float64
 10  vehicle_class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 662.8+ KB

None

'\nfile1: \n- income has to be an int\n- monthly premium auto has to be an int\n'

In [12]:
display(file1.shape)
display(file2.shape)
display(file3.shape)

In [26]:
customer_data_test_df = pd.concat([file1, file2, file3])

In [28]:
# Checking if summed rows of customer_data_test_df matches summed rows of initial df:
file1.shape[0] + file2.shape[0] + file3.shape[0] == customer_data_test_df.shape[0]

True

In [29]:
# Column order automatically matched using pd.concat function.
file1.columns == customer_data_test_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [4]:
# Loading from url not working. Loading the file locally. 
#df_mkt = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
df_mkt = pd.read_csv("mkt_analysis_dataset.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'mkt_analysis_dataset.csv'

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here